@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Ajinkya Borade
   ========================================================================== */
body, html {
  background-color: #333333;
  font-family: 'Lato', Tahoma, sans-serif; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header,
.footer,
.main {
  width: 960px;
  margin: 0 auto;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box; }

.footer {
  padding: 15px; }
  .footer .logo {
    float: left;
    display: block;
    width: 140px;
    height: 40px;
    background: url("../img/icons_spirte.png") no-repeat transparent 0 -53px;
    overflow: hidden;
    text-indent: -999px; }

.header {
  height: 45px;
  margin-bottom: 25px; }
  .header h1 {
    font-size: 24px;
    line-height: 56px;
    color: #f5f8ee;
    text-shadow: -2px 1.5px 1px #4d5d24, 2px 1.5px 1px black;
    padding: 0 15px; }

.main {
  background-color: #edf2e9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5); }
  .main .top {
    background-color: #89a740;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    padding: 5px 0 0;
    -webkit-box-shadow: inset 1px 1px 1px #ccdca4;
    -moz-box-shadow: inset 1px 1px 1px #ccdca4;
    box-shadow: inset 1px 1px 1px #ccdca4;
    border-bottom: 1px solid #5c702b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8aa740), color-stop(0.94, #708a2f));
    background-image: -o-linear-gradient(bottom, #8aa740 0%, #708a2f 94%);
    background-image: -moz-linear-gradient(bottom, #8aa740 0%, #708a2f 94%);
    background-image: -webkit-linear-gradient(bottom, #8aa740 0%, #708a2f 94%);
    background-image: -ms-linear-gradient(bottom, #8aa740 0%, #708a2f 94%);
    background-image: linear-gradient(to bottom, #8aa740 0%, #708a2f 94%); }

ul.tab_links {
  display: block; }
  ul.tab_links li {
    display: block;
    float: left;
    margin: 0;
    position: relative; }
    ul.tab_links li a {
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-shadow: -2px 1.5px 2px #89a740;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      background-clip: text;
      text-decoration: none;
      display: block;
      padding: 10px 0 10px 20px; }
      ul.tab_links li a:hover, ul.tab_links li a.selected {
        color: #f5f8ee;
        text-shadow: -2px 1.5px 1px #6b8232; }
    ul.tab_links li .arrow {
      display: block;
      width: 9px;
      height: 8px;
      position: absolute;
      bottom: -7px;
      left: 50%;
      z-index: 10;
      background: url("../img/icons_spirte.png") no-repeat transparent -40px -19px; }

.content {
  margin: 15px 0 0;
  padding: 10px 0; }
  .content h4.rental_infoline,
  .content h2.heading {
    color: black;
    text-shadow: -1px 1.5px 1px #d3dfc9; }
  .content h4.rental_infoline {
    font-size: 15px;
    margin: 0 15px;
    display: block;
    float: left;
    position: relative;
    line-height: 30px; }
    .content h4.rental_infoline i {
      padding: 0 0 0 35px;
      font-size: 12px;
      display: block;
      position: absolute;
      right: -96px;
      top: 0;
      width: 88px;
      line-height: 28px;
      background: url("../img/icons_spirte.png") no-repeat transparent -55px 0; }
  .content h2.heading {
    clear: both;
    font-size: 28px;
    margin: 10px 15px 15px; }
    .content h2.heading span {
      border-left: 1px solid #c1c2b6;
      padding-left: 10px;
      margin-left: 10px; }
  .content .tabs {
    border-bottom: 1px solid #5c702b; }
    .content .tabs ul {
      display: block; }
      .content .tabs ul li {
        display: block;
        float: left;
        margin: 0 2px;
        position: relative; }
        .content .tabs ul li a {
          display: block;
          color: #2c3f6c;
          font-size: 14px;
          line-height: 24px;
          padding: 0 10px;
          text-decoration: none;
          position: relative;
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.06, #e7ece4), color-stop(1, #f6faf1));
          background-image: -o-linear-gradient(top, #e7ece4 6%, #f6faf1 100%);
          background-image: -moz-linear-gradient(top, #e7ece4 6%, #f6faf1 100%);
          background-image: -webkit-linear-gradient(top, #e7ece4 6%, #f6faf1 100%);
          background-image: -ms-linear-gradient(top, #e7ece4 6%, #f6faf1 100%);
          background-image: linear-gradient(to top, #e7ece4 6%, #f6faf1 100%);
          border-top: 1px solid #5c702b;
          border-left: 1px solid #5c702b;
          border-right: 1px solid #5c702b;
          -webkit-border-top-right-radius: 5px;
          -webkit-border-bottom-right-radius: 0;
          -webkit-border-bottom-left-radius: 0;
          -webkit-border-top-left-radius: 5px;
          -moz-border-radius-topright: 5px;
          -moz-border-radius-bottomright: 0;
          -moz-border-radius-bottomleft: 0;
          -moz-border-radius-topleft: 5px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: 5px; }
          .content .tabs ul li a.selected {
            color: #89a740; }
            .content .tabs ul li a.selected i {
              display: block;
              position: absolute;
              bottom: -1px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #edf2e9; }
  .content .tabs_content {
    display: none;
    padding: 5px 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
