@import "reset";
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

$whiteGreen : #edf2e9;
$green : #89a740;

@mixin background-clip($argument: padding-box) {
  -moz-background-clip: $argument;
  -webkit-background-clip: $argument;
  background-clip: $argument;
}

@mixin rounded($round){
  border-radius: $round;
  -moz-border-radius: $round;
  -webkit-border-radius: $round;
}
@mixin borderRadius($topleft: 0, $topright: 0, $bottomright: 0, $bottomleft: 0) {
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;

}
@mixin boxShadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
  -webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}
@mixin innerShadow($horizontal:0, $vertical:1px, $blur:2px, $alpha: 0.4) {
  -webkit-box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);
  box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);
}
@mixin textInnerShadow($color1,$color2){
  text-shadow: 1px 4px 6px $color1, 0 0 0 $color2, 1px 4px 6px $color1;
}
/* ==========================================================================
   Ajinkya Borade
   ========================================================================== */
body, html {
  background-color: #333333;
  font-family: 'Lato', Tahoma, sans-serif;
}
//removing padding effects
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header,
.footer,
.main {
  width: 960px;
  margin: 0 auto;
  @include background-clip(border-box);
}

.footer {
  padding: 15px;

  .logo {
    float: left;
    display: block;
    width: 140px;
    height: 40px;
    background: url("../img/icons_spirte.png") no-repeat transparent 0 -53px;
    overflow: hidden;
    text-indent: -999px;
  }
}
.header {
  height: 45px;
  margin-bottom: 25px;

  h1 {
    font-size: 24px;
    line-height: 56px;
    color: lighten($green, 50%);
    text-shadow: -2px 1.5px 1px darken($green, 20%), 2px 1.5px 1px darken($green, 50%);
    padding: 0 15px;
  }
}

.main {
  background-color: $whiteGreen;
  @include rounded(5px);
  @include boxShadow(5px, 1px, 5px, 0.5);

  .top {
    background-color: $green;
    @include borderRadius(5px, 5px, 0, 0);
    padding: 5px 0 0;
    -webkit-box-shadow: inset 1px 1px 1px lighten($green, 30%);
    -moz-box-shadow: inset 1px 1px 1px lighten($green, 30%);
    box-shadow: inset 1px 1px 1px lighten($green, 30%);
    border-bottom: 1px solid darken($green, 15%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #8AA740),
        color-stop(0.94, #708A2F)
    );
    background-image: -o-linear-gradient(bottom, #8AA740 0%, #708A2F 94%);
    background-image: -moz-linear-gradient(bottom, #8AA740 0%, #708A2F 94%);
    background-image: -webkit-linear-gradient(bottom, #8AA740 0%, #708A2F 94%);
    background-image: -ms-linear-gradient(bottom, #8AA740 0%, #708A2F 94%);
    background-image: linear-gradient(to bottom, #8AA740 0%, #708A2F 94%);
  }
}

ul.tab_links {
  display: block;

  li {
    display: block;
    float: left;
    margin: 0;
    position: relative;

    a {
      font-size: 14px;
      //line-height: 24px;
      font-weight: bold;
      color: darken($green, 90%);
      text-shadow: -2px 1.5px 2px $green;
      @include background-clip(text);
      text-decoration: none;
      display: block;
      padding: 10px 0 10px 20px;

      &:hover,
      &.selected {
        color: lighten($green, 50%);
        text-shadow: -2px 1.5px 1px darken($green, 10%);
      }
    }
    .arrow {
      display: block;
      width: 9px;
      height: 8px;
      position: absolute;
      bottom: -7px;
      left: 50%;
      z-index: 10;
      background: url("../img/icons_spirte.png") no-repeat transparent -40px -19px;
    }
  }
}

.content {
  margin: 15px 0 0;
  padding: 10px 0;

  h4.rental_infoline,
  h2.heading {
    margin: 15px;
    color: darken($green, 90%);
    text-shadow: -1px 1.5px 1px darken($whiteGreen, 10%);
  }
  h4.rental_infoline {
    font-size: 15px;
  }
  h2.heading {
    font-size: 28px;

    span {
      border-left: 1px solid #c1c2b6;
      padding-left: 10px;
      margin-left: 10px;
    }
  }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}